body {
	margin: 0;
	font-size: 11px;
	font-family: Verdana;
}

div#menuWrapper {
	margin-top: 10px;
}

div#menuWrapper div.mainMenu {
	margin-right: 3px;
	padding: 20px;
	display: inline-block;
	width: 130px;
	background-color: #F7D046;
	color: #000;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	float:left;
}

div#menuWrapper div.active {
	background-color: #D7251C;
	color: #FFF;
	cursor: default;
}

div#menuWrapper div a {
	text-decoration: none;
	color: #000;
}

div#contentWrapper {
	border: 3px solid #D7251C;
	padding: 10px;
	max-height: 800px;
	overflow: auto;
}

* html div#contentWrapper { 
   	height: expression( this.scrollHeight > 799 ? "800px" : "auto" ); /* sets max-height for IE */
	border: 3px solid #D7251C;
	padding: 10px;
	overflow: auto;
}


div.redTitle {
	color: #D7251C;
	font-size: 14px;
	font-weight: bold;
}

div.blackSubTitle {
	color: #000000;
	font-size: 12px;
	font-weight: bold;
}

div.note {
	color: #777;
	font-size: 0.9em;
	font-style: italic;
}

div.formLabel1, div.formLabel2 {
	clear: left;
	width: 250px;
	float: left;
	margin-top: 7px;
}

div.formLabel2 {
	width: 275px;
	font-weight: bold;
}

.formField1 {
	width: 350px;
	font-size: 14px;
	padding: 3px;
}

div.errorTextDiv {
	color: #FF2222;
	padding: 5px 0;
	display: none;
}

div.errorDiv div.errorTextDiv {
	display: block;
}

div.thankyouBox {
	padding: 10px;
	background-color: #F6F6F6;
	border: 1px solid #D8D6D6;
	-moz-border-radius: 7px;
	border-radius: 7px;
	margin-top: 20px;
	color: #717171;
}

div.thankyouBox div.tytitle {
	color: #0BA0BB;
	margin-bottom: 10px;
	font-weight: bold;
}

div.commentMaginL250 {
	clear: left;
	font-size: 10px;
	color: #838383;
	margin: 5px 0 5px 250px ;
}

ul.squareBullet {
	list-style-type: square;
}

ul.squareBullet li {
	margin-top: 10px;
	font-size: 10px;
}

ul.squareBullet table, ul.tncOl table {
	border-width: 1px;
	border-spacing: 0px;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
}

ul.squareBullet table td, ul.tncOl table td, ul.tncOl table th {
	border-width: 1px;
	padding: 5px;
	border-style: solid;
	border-color: gray;
	background-color: white;
}

ul.tncOl table th {
	background-color: #F5F5F5
}

ul.tncOl {
	list-style: square;
}

ul.tncOl li ul {
	list-style: circle;
}

ul.tncOl li {
	padding-bottom: 20px;
}

.receiptImg {
	margin-right: 10px;
}

div.tnc {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 40px;
	font-size: 0.85em;
}

.action { cursor: pointer; }

.alignCenter { text-align: center; }

.bold { font-weight: bold; }

.clearBoth { clear: both; }

.floatLeft { float: left; }
.floatRight { float: right; }

.hidden { display: none; }

.underline { text-decoration: underline; }

.marginL10 { margin-left: 10px; }
.marginR10 { margin-right: 10px; }
.marginT7 { margin-top: 7px; }
.marginT10 { margin-top: 10px; }
.marginT20 { margin-top: 20px; }
.marginT30 { margin-top: 30px; }
.marginT50 { margin-top: 50px; }

.paddingTB50 { padding: 50px 0; }
.paddingTB200 { padding: 200px 0; }

.border0 { border: none; }

/*
img {
    vertical-align: middle;
    height: 100%;
}
*/

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
